/* Tablet */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

}


/* mobile */
@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
        z-index: 51;
    }

    nav ul {
        position: absolute;
        background-color: rgb(219, 148, 15);
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 50;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translate(0%);
        opacity: 1;
    }

}
