* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: gray;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: rgb(219, 148, 15);
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: rgb(255, 213, 134);

}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(255, 213, 134);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: rgb(253, 242, 220);
}

/* MAIN CONTENT*/

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(/Aset/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 25px;
}

/* Menu Toggle */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0.8;
    left: -5px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 213, 134);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Menu HAmburger */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}
